body {
  margin-top: 60px;
  font-family: 'Lato'; }

body.page-monthly-tracking .navbar-nav > li > a[href*=monthly-tracking] {
  background-color: #fff;
  color: #080808; }

body.page-financial-goals .navbar-nav > li > a[href*=financial-goals] {
  background-color: #fff;
  color: #080808; }

body.page-financial-ratios .navbar-nav > li > a[href*=financial-ratios] {
  background-color: #fff;
  color: #080808; }

.page-title {
  border-bottom: solid 35px #767676; }
  .page-title h1 {
    font-size: 2em; }
  .page-title .toggler {
    margin-top: 25px; }
    .page-title .toggler a {
      white-space: nowrap;
      display: inline-block;
      margin-left: 15px;
      text-decoration: underline; }
      .page-title .toggler a.active, .page-title .toggler a:active, .page-title .toggler aa:focus {
        text-decoration: none;
        color: inherit; }

.ficheck-sections .ficheck-section-type {
  padding-bottom: 3em;
  border-bottom: solid 35px #767676; }
  .ficheck-sections .ficheck-section-type h2 {
    color: #fff;
    padding: 15px;
    font-size: 2em;
    cursor: pointer; }
  .ficheck-sections .ficheck-section-type:nth-of-type(2n), .ficheck-sections .ficheck-section-type:nth-of-type(2n) .description {
    background-color: #039; }
  .ficheck-sections .ficheck-section-type:nth-of-type(2n+1), .ficheck-sections .ficheck-section-type:nth-of-type(2n+1) .description {
    background-color: #036; }
  .ficheck-sections .ficheck-section-type form {
    background-color: #fafafa;
    overflow: hidden;
    padding: 15px; }
  .ficheck-sections .ficheck-section-type .delete {
    background-color: #f00;
    color: #fff; }
  .ficheck-sections .ficheck-section-type .template .delete, .ficheck-sections .ficheck-section-type .new .delete {
    display: none; }
  .ficheck-sections .ficheck-section-type .body + .template {
    display: none; }
  .ficheck-sections .ficheck-section-type .control {
    float: right;
    margin-bottom: 1em; }
  .ficheck-sections .ficheck-section-type > a {
    clear: both;
    padding: 15px;
    display: inline-block;
    color: #fff;
    text-decoration: underline; }

.ficheck-sections .description {
  padding: 1.5em;
  margin: 3em 0;
  display: none; }
  .ficheck-sections .description .description-content {
    padding: 1.5em;
    background: #fff; }

.monthly-tracking [class^=col-] {
  padding-left: 5px;
  padding-right: 5px;
  border-top: #767676 solid 4px;
  border-right: #767676 solid 4px; }
  .monthly-tracking [class^=col-]:nth-child(4) {
    border-right: 0 none; }

.monthly-tracking .header [class^=col-] {
  font-size: 1.4em;
  background-color: #333;
  color: #fff;
  padding: 8px; }

.monthly-tracking .header :nth-child(2) {
  background: #090; }

.monthly-tracking .header :nth-child(3) {
  background: #f00; }

.monthly-tracking .body {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: #767676 solid 4px; }
  .monthly-tracking .body [class^=col-]:nth-of-type(even) {
    background-color: #fafafa; }
  .monthly-tracking .body [class^=col-] input {
    border: 0 none;
    background: transparent;
    padding: 0;
    box-shadow: none; }
    .monthly-tracking .body [class^=col-] input:focus {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .monthly-tracking .body form .new {
    opacity: .6; }
  .monthly-tracking .body form .control {
    display: none;
    position: absolute;
    bottom: -64px;
    z-index: 999;
    right: -15px;
    background: #036;
    padding: 15px;
    border-radius: 0 0 5px 5px; }
  .monthly-tracking .body form.active {
    position: relative;
    z-index: 99; }
    .monthly-tracking .body form.active .new {
      opacity: 1; }
    .monthly-tracking .body form.active [class^=col-] {
      border-color: #036;
      border-bottom: solid 5px #036; }
    .monthly-tracking .body form.active .control {
      display: block; }
  .monthly-tracking .body .changed [class^=col-] {
    background-color: #f90; }

/*# sourceMappingURL=app.css.map */
