.page-income-and-expense-statement {
  .btn-primary {
    display: none;
  }

  .dropdown {
    margin-top: 15px;

    button {
      color: #000;
      padding: 5px 10px;
      max-width: 230px;
    }
  }

  .dropdown-toggle {
    font-size: 20px;
    text-align: left;
    border-radius: 0px;
    width: 230px;
  }

  .dropdown-menu{
    position: absolute;
    background-color: #ddd;
    border-radius: 0px;
    width: 230px;

    .dropdown-item {
      display: block;
      padding: 10px;
    }
  }

  .dropdown-caret {
    margin-top: 5px;
    float: right;
  }
}

.budget-view {

  .valueType, .valueTypeTotal {
    &.planned, &.actual, &.difference {
      visibility:hidden;
      position:absolute;
      z-index:-100;

      &.active {
        visibility:visible;
        position:static;
      }
    }
  }

  .valueTypeTemplate {
    display:none;
  }

  .page-title {
    border-bottom:0;
  }

  .toggleBudgetSection {
    background:#767676;

    &.affix {
      top: 50px;
      left: 0;
      right: 0;
      margin: 0;
      z-index: 999;
    }
  }

  .toggleBudgetInputs {
    background:#000;
    color:#fff;
    border:none;
    width:40px;
    height:40px;
    margin-left:3px;

    &:hover {
      background:#ff9900;
      opacity:.7;
    }

    &.active{
      background:#ff9900;

      &:hover {
        background:#000000;
      }
    }
  }

  .btn {
    border-radius:0;
    color:#fff;
    width:100%;
    max-width:200px;
    padding:.2em 1.5em;
    margin-top:1em;
  }

  .btn-black {
    background:#000;
  }

  .btn-grey {
    background:#666;
  }

  .ficheck-sections {
    .ficheck-section-type {
      padding-bottom:0;
    }

    .record-type-income {
      background:#009900;
    }

    .record-type-expense {
      background:#ff0000;
    }

    .record-type-month {
      background:#000;
      border-bottom-width:5px;

      &:nth-child(2n){
        background:#D9D9D9;

        h2 {
          color:#000;
        }
      }
    }

    h2 {
      font-size:1.4em;
      margin:0;
      padding-bottom:5px;
    }

    p {
      color:#fff;
      padding-left:15px;
      font-size:.9em;
      font-style:italic;
    }
  }

  label {
    padding-left:10px;
  }

  .editable {
    position:relative;

    .editLabel {
      font-size:.8em;
      color:#68aa68;
      position:absolute;
      left:5px;
      top:5px;

      &.glyphicon-ok {
        left:0;
        top:10px;
      }
    }
  }

  .budget-sums {
    background:#767676;

    .budget-sum {
      padding:1em;

      &.budget-sum-income {
        background:#009900;
      }

      &.budget-sum-expenses {
        background:#ff0000;
      }

      &.budget-sum-net {
        background:#000;
      }

      label {
        background:#fff;
        width:100%;
        height:34px;
        padding-top:.5em;
      }

      input {
        border-radius:0;
      }

    }
  }

  .btn-primary {
    margin-bottom:1em
  }

  .deleteGroup {
    display:none;

    &.deleteShow {
      display:table;
    }
  }

  .section-header {
    font-weight: 700;
    margin-bottom: 5px;
  }

  @media (max-width: 430px) {

    .valueContainer, .valueTypeTotal {
      padding-left: 5px;
      padding-right: 5px;
    }

    .section-header {
      font-size: 12px;
      padding-left: 5px;
      padding-right: 5px;
    }

    .valueInput, .totalInput {
      font-size: 11px;
      padding: 5px 3px;
    }

    label {
      font-size: 12px;
    }

  }
}
