$primary-color: #036;
$secondary-color: #039;
$tertiary-color: #004EEA;
$primary-color-asset: #090;
$primary-color-liability: #f00;
$hilight-color: #f90;

$background: #666;
$light-background: #767676;
$hilight-background: #fafafa;
$alt-background: #660;

$toggle-link-color: #00f;
