@import 'colors.import';

.monthly-tracking {
  [class^=col-] {
    padding-left: 5px;
    padding-right: 5px;
    border-top: $light-background solid 4px;
    border-right: $light-background solid 4px;

    &:nth-child(4) {
      border-right: 0 none;
    }
  }

  .header {
    [class^=col-] {
      font-size: 1.4em;
      background-color: #333;
      color: #fff;
      padding: 8px;
    }

    :nth-child(2) {
      background: $primary-color-asset;
    }

    :nth-child(3) {
      background: $primary-color-liability;
    }
  }

  .body {
    margin-left: -15px;
    margin-right: -15px;

    padding-left: 15px;
    padding-right: 15px;

    margin-bottom: 30px;

    border-bottom: $light-background solid 4px;

    [class^=col-] {
      &:nth-of-type(even) {
        background-color: $hilight-background;
      }

      input {
        border: 0 none;
        background: transparent;
        padding: 0;
        box-shadow: none;

        &.form-control {
           background-color: #ffcc99;
        }

        &:focus {
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        }
      }
    }


    form
    {
      .new {
        opacity: .6;
      }


      .control {
        display: none;
        position: absolute;
        bottom: -64px;
        z-index: 999;
        right: -15px;
        background: $primary-color;
        padding: 15px;
        border-radius: 0 0 5px 5px;
      }

      &.active {
        .new {
          opacity: 1;
        }

        position: relative;
        z-index: 99;

        [class^=col-] {
          border-color: $primary-color;
          border-bottom: solid 5px $primary-color;
        }
        .control {
          display: block;
        }
      }
    }

    .changed {
      [class^=col-] {
        background-color: $hilight-color;
      }
    }
  }
  #accordion {
    .monthly-tracking-section {
      margin-top: 0px;
      border-top: 5px solid #333;
      border-radius: 0px;
      border-left: none;
      border-right: none;
      border-bottom: none;

      .panel-heading {
        background-color: $light-background;
        border-radius: 0px;
        color: #fff;
        a{
          font-size: 1.4em;
        }
      }
      .panel-collapse {
        .panel-body {
          padding-top: 0px;
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 15px;
          border-top-color: $light-background;
        }
      }
    }

  }
}

.page-monthly-tracking {

  .dropdown {
    margin-top: 15px;
    margin-left: -15px;
  }

  .dropdown-toggle {
    font-size: 20px;
    text-align: left;
    border-radius: 0px;
    width: 100%;
  }

  .dropdown-menu{
    position: absolute;
    background-color: #ddd;
    border-radius: 0px;

    .dropdown-item {
      display: block;
      padding: 10px;
    }
  }

  .dropdown-caret {
    margin-top: 5px;
    float: right;
  }
}
