$routes: (
  "monthly-tracking",
  "financial-goals",
  "financial-ratios",
);

body {
  @each $route in $routes {
    &.page-#{$route} {
      .navbar-nav {
        > li {
          > a[href*=#{$route}] {
            background-color: #fff;
            color: #080808;
          }
        }
      }
    }
  }
}
