$routes: (
  "monthly-tracking",
  "financial-goals",
  "financial-ratios",
  "retirement-needs",
  "net-worth-statement",
  "life-insurance",
  "income-and-expense-statement",
  "monthly-budget",
  "revolving-savings",
);

body {
  @each $route in $routes {
    &.page-#{$route} {
      .navbar-nav {
        > li {
          > a[href*=#{$route}] {
            background-color: #fff;
            color: #080808;
          }
        }
      }
    }
  }
}


.navbar-header {
  float: none;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse.collapse {
  display: none!important;
  max-height:none;
}
.navbar-nav {
  float: none!important;
}
.navbar-nav>li {
  float: none;

  a {
    padding:5px;
    font-size:1.1em;
    border-bottom:1px solid #767676;
  }

  // &:last-child a{
  //   border-bottom:none;
  // }
}
.navbar-collapse.collapse.in{
  display:block !important;
}
.dropdown-menu {
  width:100%;
  background:#222;
  position:static;
  li a {
    color:#fff;

  }
}
