@import 'colors.import';

.page-title {
  border-bottom: solid 35px $light-background;

  h1 {
    font-size: 2em;
  }

  .toggler {
    margin-top: 25px;

    a {
      white-space: nowrap;
      display: inline-block;
      margin-left: 15px;

      text-decoration: underline;

      &.active, &:active, &a:focus {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
